:root{
    --primary: #f393fd;
    --bg: rgb(224, 217, 217);
    --shadow: 2px 0 8px rgba(0,0,0,0.3);
    --corners: 6px;
}
body {
    background-color: var(--bg);
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    color: rgb(25, 25, 25);
}

.balloon {
    height: 120px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}

header {
    margin: 3em 0;
}

img {
    max-width: 100%;
}

.container {
    width: 50%;
    margin: auto;
}

.card {
    background-color: white;
    padding: 1em;
    box-shadow: var(--shadow);
    border-radius: var(--corners);
}

.shadow {
    filter: drop-shadow(var(--shadow));
}

.hidden {
    display: none !important;
}

